<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.SortLines</string>
					<key>XCSourceEditorCommandName</key>
					<string>Sort Lines</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.SortLinesByLength</string>
					<key>XCSourceEditorCommandName</key>
					<string>Sort Lines By Length</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.StripTrailingWhitespaceInFile</string>
					<key>XCSourceEditorCommandName</key>
					<string>Strip Trailing Whitespace In File</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.FormatCodeForSharing</string>
					<key>XCSourceEditorCommandName</key>
					<string>Copy As Markdown Block</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.AutoCreateExtensionMarks</string>
					<key>XCSourceEditorCommandName</key>
					<string>Auto MARK Extensions</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.SearchInGoogle</string>
					<key>XCSourceEditorCommandName</key>
					<string>Search In Google</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.WrapInIfDef</string>
					<key>XCSourceEditorCommandName</key>
					<string>Wrap In If Def</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.AlignAroundEquals</string>
					<key>XCSourceEditorCommandName</key>
					<string>Align Around Equals</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.WrapInLocalizedString</string>
					<key>XCSourceEditorCommandName</key>
					<string>Wrap In Localized String</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.FormatAsMultiLine</string>
					<key>XCSourceEditorCommandName</key>
					<string>Format As Multiline</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.SearchOnPlatform.Google</string>
					<key>XCSourceEditorCommandName</key>
					<string>Search On Google</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.SearchOnPlatform.StackOverflow</string>
					<key>XCSourceEditorCommandName</key>
					<string>Search On StackOverflow</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>EditKitPro.EditKit.SearchOnPlatform.GitHub</string>
					<key>XCSourceEditorCommandName</key>
					<string>Search On GitHub</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
</dict>
</plist>
